.bodyColor404{
    background-color: rgba(30, 30, 30, 1.0);
}

#contenedor404{
    width: 100%;
    height: 100%;
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


//Clases

.titulo404{
    @include text($color-white, $font-title, $text-title);
    text-align: center;
    font-size: 9rem !important;
}

.text404{
    @include text($color-white, $font-principal, $text-subtitle);
}
.button404{
    font-size: 2rem;
}