//import fonts

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


//paddings

$padding-sm: 50px;
$padding-md: 80px;
$padding-xl: 100px;

html{
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    overflow-x:hidden;
}

*{
	margin: 0px;
	padding: 0px;
	font-family: $font-principal;
}

body{
	background-size: 100%;
}

h1{
	font-family: $font-title;
	font-size: $text-title;
	color: $color-title;
}

h2{
	font-family: $font-title;
	font-size: $text-subtitle;
	color: $color-title;
}

h3{
	font-size: $text-big;
	font-family: $font-principal;
	color: $color-title;
}

h5{
    text-align: center;
}

p{
	font-family: $font-principal;
	font-size: $text_small;
	color: $color-black;
}