//Contenedores

#contenedorContacto{
	padding: 100px 50px;
	background-color: map-get($map: $paleta-bg , $key:'gris');
	@include flex(row,center,center,flex-wrap);
}
	

.paddingContacto{
	padding: 100px 50px;
	background-color: map-get($map: $paleta-bg , $key:'gris');
}

//Formulario boostrap

.formContacto{
	padding-top: 100px;
}

.flexFormContact{
	@include flex(column,center,center,flex-wrap);
}

.textForm{
	font-family: $font-title;
	font-size: $text-big;
	color: $color-title;
	padding: 30px 20px;
	text-align: center
}


//Informacion adicional

.textInfo{
	@include flex(column,center,center,wrap);
	padding-top: 30px;
}

.tituloP{
	font-family: $font-title;
	font-size: $text-title;
	color: $color-nav;
	padding-bottom: 20px;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.tituloS{
font-family: $font-principal;
font-size: $text-subtitle;
color: $color-nav;
padding: 20px 0px;
}

.numeroC{
	font-size: $text-subtitle;
	font-family: $font-title;
	color: $color-nav;
	padding: 5px 0px;
	text-align: center;
}

.wpp{
	width: 130px;
	height: 80px;
}
.wpp2{
	display: flex;
	justify-content: center;
	align-content: center;
}

//Testimonios
.sectionTestimonios{
	@include flex(column, center, center, wrap);

}
#contenedorTestimonios{
	@include flex(row, center, center, wrap);
	background-color: map-get($map: $paleta-bg , $key:'blanco');
	padding: 100px 50px;
}

.contenedorCards{
	padding: 10px;
}

.tituloTestimonio{
	background-color: $color-nav;
	font-size: $text-subtitle;
	font-family: $font-title;
	color: $color-title;
	padding: 80px 100px 20px 100px;
	text-align: center;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.cardTestimonios{
	display: flex;
	justify-content: center;
	padding: 20px;
	flex-direction: initial;
	height: 350px;
	width: 500px;
	margin: 10px;
}

.imgTestimonios{
	height: 350px;
}