//BOX MODELING

footer{
	background-image: url(../img/footer.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-style: solid;
	border-top: 2px;

    
}

footer{

    div{
        ul{
            li{
                text-decoration: none;
	            list-style-type: none;
            }
        }
    }

}

footer{
    div{
        ul{
            li{
                a{
                    text-decoration: none;
	                font-size: $text-mid;
	                font-family: $font-principal;
	                color: $color-white;
                }
            }
        }
    }
}

//contenedor

#contenedorFooter{
	padding: 50px 20px;
}

//clases

.titulosFooter{
	font-size: $text-big;
	color: $color-white;
}

.infoFooter{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.paddingCopy{
	padding-top: 100px;
}

