//Contenedor

#contenedorFooter{
    @include flex(row,center ,center ,wrap );
    position: absolute;
	width: 100%;
	padding: 80px 10px 0px 10px;
	height: 50%;
	background-color: map-get($map: $paleta-bg , $key:'gris');
}

#contenedorRedes{
	@include flex(row,center,center,wrap);
	padding: 30px;
}

#contenedorUlFooter{
	display: flex;
	justify-content: center;
}

//CLASES


.textRedes{
	font-size: $text-big;
	font-family: $font-principal;
	color: $color-white;
}

.asideFooter{
	@include flex(column,center,center,wrap);
}

.asideImg{
	height: 60px;
	width: 95px;
}

//BOX MODELING

footer{
	background-image: url(../img/footer.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-style: solid;
	border-top: 2px;
	
	width: 100%;
	position: absolute;
	height: 100%;
    
}

footer{

    div{
        ul{
            li{
                text-decoration: none;
	            list-style-type: none;
            }
        }
    }

}

footer{
    div{
        ul{
            li{
                a{
                    text-decoration: none;
	                font-size: $text-big;
	                font-family: $font-principal;
	                color: $color-white;
                }
            }
        }
    }
}