//contenedores

//clases
nav{
    @include flex(row,space-evenly ,center ,nowrap );
        background-color: map-get($map:$paleta-bg , $key:'nav');
        border-bottom-style: solid;
        border-bottom-width: 0.5px;
}

.ulNav{
	font-size: 2rem;
	font-family: $font-principal;
	color: $color-title;
}

.dropDown{
	font-size: 2rem;
	font-family: $font-principal;
	color: $color-title;

}

.botonLlamar{
	font-size: 1.5rem;
    
}