//Contenedores

#contenedorInfoServicios{
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	padding: 100px;
	background-color: map-get($map: $paleta-bg , $key:'gris');

}

//clases

.tituloServ{
	font-size: $text-title;
	font-family: $font-title;
	color: $color-white;
	padding-bottom: 60px;
	margin: 0px 20px;
	text-align: center;
}

.subTituloServ{
	font-size: $text-mid;
	font-family: $font-principal;
	color: $color-white;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	margin: 0px 10px;
	text-align: center;
	padding-bottom: 10px;
}

.acordeonServ{
	padding-top: 30px;
}

.tituloAcordeon{
	font-size: 2rem;
	font-family: $font-title;
	color: $color-title;
}

.contenidoA{
	font-size: $text_small;
	color: $color-title;
	font-family: $font-principal;
}

#contenedorCotizar{
	background-color: map-get($map: $paleta-bg , $key:'blanco');
	width: 100%;
	height: 100%;
	padding: 50px;
}

.tituloServicios{
	text-align: center;
	font-size: $text-title;
	font-family: $font-title;
	color: $color-title;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	padding: 20px;
}

.cardBody{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.imgServicios{
	width: 250px;
}

#contenedorServicios{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.cardsServicios{
	@include flex(row,space-evenly,center,wrap);
	padding-top: 50px;
}

.cardTitulo{
	text-align: center;
	font-size: $text-big;
	font-family: $font-principal;
	color: $color-title;
}

.cardText{
	text-align: center;
	font-size: $text-mid;
	font-family: $font-principal;
	color: $color-title;
	align-content: center;
}


//sección cotizar

.titulosSections{
	font-family: $font-title;
	font-size: $text-title;
	color: $color-title;
	text-align: center;
	background-color: $color-nav;
}

.textSections{
	font-family: $font-principal;
	font-size: $text-big;
	color: $color-title;
	text-align: center;
	background-color: $color-nav;
}

.sectionCotizar{
	background-image: url(../img/servicios/bg-cotizar.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 860px;
	padding: 50px;
	@include flex(column,center,start,wrap);
}

.sectionCotizarData{
	width: 100%;
	height: 100%;
	padding: 100px;
	background-color: $color-white;
	@include flex(column,center,none,wrap);
}

.tituloData{
	text-align: center;
	font-size: $text-subtitle;
	font-family: $font-title;
	color: $color-title;
	padding: 50px;
	margin: 30px
}

.textData{
	font-family: $font-principal;
	font-size: $text-mid;
	color: $color-title;
}

.formData{
	padding: 10px 30px;
	
}

.formdiv{
	width: 99%;
}

//Sectión Asesoria

.sectionAsesoria{
	background-image: url(../img/servicios/bg-asesoria.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 860px;
	padding: 50px;
	@include flex(column,center,center,flex-wrap);
}

//Sectión Seguros

.sectionSeguros{
	background-image: url(../img/servicios/bg-seguro.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 860px;
	padding: 50px;
	@include flex(column,center,center,flex-wrap);
}