//Contenedores

.contenedorInfoServicios{
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	padding: 200px 100px;
	background-color: map-get($map: $paleta-bg , $key:'gris');

}

//clases

.tituloServ{
	font-size: $text-title;
	font-family: $font-title;
	color: $color-white;
	padding-bottom: 60px;
	margin: 0px 20px;
	text-align: center;
}

.subTituloServ{
	font-size: $text-mid;
	font-family: $font-principal;
	color: $color-white;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	margin: 0px 10px;
	text-align: center;
	padding-bottom: 10px;
}

.acordeonServ{
	padding: 30px 10px;
}

.tituloAcordeon{
	font-size: 2rem;
	font-family: $font-title;
	color: $color-title;
}

.contenidoA{
	font-size: $text_small;
	color: $color-title;
	font-family: $font-principal;
}

#contenedorCotizar{
	background-color: map-get($map: $paleta-bg , $key:'blanco');
	width: 100%;
	height: 100%;
	padding: 50px;
}

.tituloServicios{
	text-align: center;
	font-size: $text-title;
	font-family: $font-title;
	color: $color-title;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	padding: 20px 0px;
}

.cardBody{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.imgServicios{
	width: 250px;
}

#contenedorServicios{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.heightServ{
	margin: 200px 0px;
}

.cardsServicios{
	@include flex(row,space-evenly,center,wrap);
	padding-top: 50px;
}

.cardTitulo{
	text-align: center;
	font-size: $text-big;
	font-family: $font-principal;
	color: $color-title;
}

.cardText{
	text-align: center;
	font-size: $text-mid;
	font-family: $font-principal;
	color: $color-title;
	align-content: center;
}


//sección cotizar

.titulosSections{
	font-family: $font-title;
	font-size: $text-title;
	color: $color-title;
	text-align: center;
	background-color: $color-nav;
}

.textSections{
	font-family: $font-principal;
	font-size: $text-big;
	color: $color-title;
	text-align: center;
	background-color: $color-nav;
}

.sectionCotizar{
	background-image: url(../img/servicios/bg-cotizar.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 860px;
	padding: 50px;
	@include flex(column,center,start,wrap);
}

.sectionCotizarData{
	width: 100%;
	height: 100%;
	padding: 100px 50px;
	background-color: $color-white;
	@include flex(column,center,none,wrap);
}

.tituloData{
	text-align: center;
	font-size: $text-subtitle;
	font-family: $font-title;
	color: $color-title;
	padding: 50px 0px;
}

.textData{
	font-family: $font-principal;
	font-size: $text-mid;
	color: $color-title;
	text-align: center;
}

.btnCenter{
	display: flex;
	align-items: center;
	justify-content: center;
}

.formData{
	padding: 10px 30px;
	
}

.formdiv{
	width: 99%;
}

//Sectión Asesoria

.sectionAsesoria{
	background-image: url(../img/servicios/bg-asesoria.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 860px;
	padding: 50px;
	@include flex(column,center,center,nowrap);
}

.sectionAsesoriaData{
	width: 100%;
	height: 100%;
	padding: 100px;
	background-color: $color-white;
	@include flex(row,center,none,wrap);
}

.contenedorAsesores{
	@include flex(row,center,none,wrap);
}

.tituloAsesores{
	@extend .tituloServicios;
}

.cardAsesores{
	display: flex;
	justify-content: center;
	padding: 20px;
	flex-direction: row;
	width: 100%;
	margin: 10px;
}

.imgCardAsesores{
	width: 50%;
}

.infoCardAsesores{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

//Sectión Seguros

.sectionSeguros{
	background-image: url(../img/servicios/bg-seguro.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 860px;
	padding: 50px;
	@include flex(column,center,center,wrap);
}

.sectionSegurosData{
	width: 100%;
	padding: 30px;
	@include flex(row,center,none,wrap);
}

.cardSeguros{
	@include flex(column,center,none,wrap);
	padding: 30px;

}

.tituloCardSeguros{
	@include text($color-title, $font-title, $text-subtitle);
	border-bottom-style: solid;
  	border-bottom-width: 0.5px;
	padding: 30px;
	
}

.textCardSeguros{
	@include text($color-title, $font-principal, $text-mid);
}

.p-3{
	padding: 100px 0px !important;
}

.btnCardSeguros{
	font-size: $text-mid;
}