//Variables globales

//vars tamaños texto

$text-title: 4.5rem;
$text-subtitle: 3rem;
$text-big: 2.5rem;
$text-mid: 1.8rem;
$text_small: 1.2rem;

// vars fonts family

$font-principal: 'Lato', sans-serif;
$font-title: 'Libre Baskerville', serif;

//vars colores

$color-title: rgba(22, 11, 7, 1.0);
$color-white: rgba(255, 255, 255, 1.0);
$color-black: rgba(0, 0, 0, 1.0);
$color-nav: rgba(230, 230, 230, 0.8);
$color-footer: rgba(204, 163, 135, 0.9);
$color-gris: rgba(30, 30, 30, 1.0);

//vars spacings

$spacing-large: 6rem;
$spacing-mid: 3rem;
$spacing-small: 2rem;
$spacing-min: 1.5rem;