@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html{
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    overflow-x:hidden;
}

*{
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
}

body{
	background-size: 100%;
}

h1{
	font-family: var(--font-title);
	font-size: var(--text-title);
	color: var(--color-title);
}

h2{
	font-family: var(--font-title);
	font-size: var(--text-subtitle);
	color: var(--color-title);
}


:root{

	/*tamaños de textos*/

	--text-title: 4.5rem;
	--text-subtitle: 3rem;
	--text-big: 2.5rem;
	--text-mid: 1.8rem;
	--text_small: 1.5rem;

	/*fonts familys*/

	--font-principal: 'Lato', sans-serif;
	--font-title: 'Libre Baskerville', serif;

	/*colores*/

	--color-title: rgba(22, 11, 7, 1.0);
	--color-white: rgba(255, 255, 255, 1.0);
	--color-black: rgba(0, 0, 0, 1.0);
	--color-nav: rgba(230, 230, 230, 0.8);
	--color-footer: rgba(204, 163, 135, 0.9);

	/*spacings*/

	--spacing-large: 6rem;
	--spacing-mid: 3rem;
	--spacing-small: 2rem;
	--spacing-min: 1.5rem;

}

						/* NAVBAR */

/*Contenedores*/

/*Clases*/

.navColor
{
	background-color: var(--color-nav);
}

.ulNav{
	font-size: 2rem;
	font-family: var(--font-principal);
	color: var(--color-title);
}

.dropDown{
	font-size: 2rem;
	font-family: var(--font-principal);
	color: var(--color-title);

}

.botonLlamar{
	font-size: 1.5rem;
}

						/*INDEX MAIN*/

/*Contenedores*/

#contenedorIndex{
	display: flex;
	justify-content: start;
	flex-direction: column;
	flex-wrap: wrap;
}

#contenedorBotonesIndex{
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	padding: 0px 400px 200px 30px ;
}

/*Clases*/

.indexModeling{
	height: 99%;
	padding: 100px 50px 0px 50px;
}

.tituloFlex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}

.h1Modeling{
	padding-top: 100px;
}

.h2Modeling{
	padding: 50px 0px;
}

.botonesIndex{
	font-size: 2rem;
	background-color: var(--color-nav);
}

.whatsappIndex{
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
padding-top: 100px;
}

.imgWhatsappIndex{
	height: 80px;
	width: 130px;
}
/*Box modeling*/


			/*MAIN ALQUILAR Y COMPRAR*/

/*Carrusel*/
.contenedorCA{
	height: 800px;

}

.alturaImgCarrusel{
	height: 860px;
}

.tituloImgCarrusel{
	font-size: var(--text-title);
	font-family: var(--font-principal);
	color: var(--color-title);
	border-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.pImgCarrusel{
	font-size: var(--text-big);
	font-family: var(--font-principal);
	color: var(--color-title);
	border-bottom: 2px;
}

/*Galeria de img*/

#contenedorCasas{
	background-color: rgba(30, 30, 30, 1.0);
	height: 100%;
	padding-top: 100px;
}

.tituloGaleria{
	text-align: center;
	border-bottom: 2px;
	color: var(--color-nav);
	font-family: var(--font-principal);
	padding-top: 30px;

}

.contGaleriaProp{
	padding: 50px;
}


.galeriaFlex{
	justify-content: space-evenly;
	align-content: space-around;

}

.imgPequeñas{
	height: 350px;
	width: 500px;
	padding: 20px;
}

/*MAIN CONTACTO*/

#contenedorContacto{
	padding: 50px;
	background-color: rgba(30, 30, 30, 1.0);
	height: 100%;
	justify-content: space-evenly;
	align-content: center;
}

.paddingContacto{
	padding: 150px 0px;
	background-color: rgba(30, 30, 30, 1.0);
}

/*Formulario boostrap*/

.formContacto{
	padding-top: 100px;
}

.textForm{
	font-family: var(--font-title);
	font-size: 3rem;
	color: var(--color-title);
}

/*Informacion adicional*/

.textInfo{
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.tituloP{
	font-family: var(--font-title);
	font-size: var(--text-title);
	color: var(--color-nav);
	padding-bottom: 20px;
}

.tituloS{
font-family: var(--font-principal);
font-size: var(--text-subtitle);
color: var(--color-nav);
padding: 20px 0px;
}

.numeroC{
	font-size: var(--text-subtitle);
	font-family: var(--font-title);
	color: var(--color-nav);
	padding: 5px 0px;
	text-align: center;
}

.wpp{
	width: 130px;
	height: 80px;
}
.wpp2{
	display: flex;
	justify-content: center;
	align-content: center;
}