@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html{
    font-size: 62.5%;
    height: 100%;
    width: 100%;
    overflow-x:hidden;
}

*{
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
}

body{
	background-size: 100%;
}

h1{
	font-family: var(--font-title);
	font-size: var(--text-title);
	color: var(--color-title);
}

h2{
	font-family: var(--font-title);
	font-size: var(--text-subtitle);
	color: var(--color-title);
}

h3{
	font-size: var(--text-big);
	font-family: var(--font-principal);
	color: var(--color-title);
}

p{
	font-family: var(--font-principal);
	font-size: var(--text_small);
	color: var(--color-black);
}

:root{

	/*tamaños de textos*/

	--text-title: 4.5rem;
	--text-subtitle: 3rem;
	--text-big: 2.5rem;
	--text-mid: 1.8rem;
	--text_small: 1.5rem;

	/*fonts familys*/

	--font-principal: 'Lato', sans-serif;
	--font-title: 'Libre Baskerville', serif;

	/*colores*/

	--color-title: rgba(22, 11, 7, 1.0);
	--color-white: rgba(255, 255, 255, 1.0);
	--color-black: rgba(0, 0, 0, 1.0);
	--color-nav: rgba(230, 230, 230, 0.8);
	--color-footer: rgba(204, 163, 135, 0.9);
	--color-gris: rgba(30, 30, 30, 1.0);

	/*spacings*/

	--spacing-large: 6rem;
	--spacing-mid: 3rem;
	--spacing-small: 2rem;
	--spacing-min: 1.5rem;

}

						/* NAVBAR */

/*Contenedores*/

/*Clases*/

.navColor
{
	background-color: var(--color-nav);
	border-bottom-style: solid;
	border-bottom-width: 0.5px;

}

.ulNav{
	font-size: 2rem;
	font-family: var(--font-principal);
	color: var(--color-title);
}

.dropDown{
	font-size: 2rem;
	font-family: var(--font-principal);
	color: var(--color-title);

}

.botonLlamar{
	font-size: 1.5rem;
}

						/*INDEX MAIN*/

/*Contenedores*/

#contenedorIndex{
	display: flex;
	justify-content: start;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
}

/*#contenedorBotonesIndex{
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	padding: 0px 400px 200px 30px ;
}*/

/*Clases*/

.indexModeling{
	height: 99%;
	width: 100%;
	padding: 100px 50px 0px 50px;
}

.tituloFlex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;

}

.h1Modeling{
	padding-top: 100px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.h2Modeling{
	padding: 50px 0px;
}

.contenedorBotones{
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	padding: 0px 400px 200px 30px ;
}

.botonesIndex{
	font-size: 3rem;
	background-color: var(--color-nav);
	margin: 10px;

}

.whatsappIndex{
	display: flex;
	justify-content: flex-end;
	align-content: flex-end;
padding-top: 100px;
}

.imgWhatsappIndex{
	height: 80px;
	width: 130px;
}
/*Box modeling*/


			/*MAIN COMPRAR*/

/*Carrusel*/
.contenedorCA{
	height: 800px;

}

.alturaImgCarrusel{
	height: 860px;
}

.tituloImgCarrusel{
	font-size: var(--text-title);
	font-family: var(--font-principal);
	color: var(--color-title);
	border-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.pImgCarrusel{
	font-size: var(--text-big);
	font-family: var(--font-principal);
	color: var(--color-title);
	border-bottom: 2px;
}

/*Galeria de img*/

#contenedorCasas{
	background-color: rgba(30, 30, 30, 1.0);
	height: 100%;
	padding-top: 100px;
}

.tituloGaleria{
	text-align: center;
	border-bottom: 2px;
	color: var(--color-nav);
	font-family: var(--font-principal);
	padding: 30px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: var(--color-nav);
	margin: 0px 30px;

}

.contGaleriaProp{
	padding: 50px;
}


.galeriaFlex{
	justify-content: space-evenly;
	align-content: space-around;

}

.imgPequeñas{
	height: 350px;
	width: 500px;
	padding: 20px;
}


			/*MAIN SERVICIOS*/

#contenedorInfoServicios{
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	padding: 100px;
	background-color: var(--color-gris);

}

.tituloServ{
	font-size: var(--text-title);
	font-family: var(--font-title);
	color: var(--color-white);
	padding-bottom: 60px;
	margin: 0px 20px;
	text-align: center;
}

.subTituloServ{
	font-size: var(--text-mid);
	font-family: var(--font-principal);
	color: var(--color-white);
	border-bottom-style: solid;
	border-bottom-width: 2px;
	margin: 0px 10pxpx;
	text-align: center;
	padding-bottom: 10px;
}

.acordeonServ{
	padding-top: 30px;
}

.tituloAcordeon{
	font-size: 2rem;
	font-family: var(--font-title);
	color: var(--color-title);
}

.contenidoA{
	font-size: var(--text_small);
	color: var(--color-title);
	font-family: var(--font-principal);
}

#contenedorCotizar{
	background-color: var(--color-nav);
	width: 100%;
	height: 100%;
	padding: 50px;
}

.tituloServicios{
	text-align: center;
	font-size: var(--text-title);
	font-family: var(--font-title);
	color: var(--color-title);
	border-bottom-style: solid;
	border-bottom-width: 2px;
	padding: 20px;
}

.modelingCards{
	padding: 20px 10px;
	margin: 10px 0px;
}

.imgServicios{
	width: 250px;
}

#contenedorServicios{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.cardsServicios{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
	padding: ;

}

				/*MAIN CONTACTO*/



#contenedorContacto{
	padding: 50px 10px 50px;
	background-color: rgba(30, 30, 30, 1.0);
	width: 100%;
	justify-content: space-evenly;
	align-content: center;
}

.paddingContacto{
	padding: 100px 50px;
	background-color: rgba(30, 30, 30, 1.0);
}

/*Formulario boostrap*/

.formContacto{
	padding-top: 100px;
}

.textForm{
	font-family: var(--font-title);
	font-size: 3rem;
	color: var(--color-title);
	padding: 20px;
}


/*Informacion adicional*/

.textInfo{
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.tituloP{
	font-family: var(--font-title);
	font-size: var(--text-title);
	color: var(--color-nav);
	padding-bottom: 20px;
}

.tituloS{
font-family: var(--font-principal);
font-size: var(--text-subtitle);
color: var(--color-nav);
padding: 20px 0px;
}

.numeroC{
	font-size: var(--text-subtitle);
	font-family: var(--font-title);
	color: var(--color-nav);
	padding: 5px 0px;
	text-align: center;
}

.wpp{
	width: 130px;
	height: 80px;
}
.wpp2{
	display: flex;
	justify-content: center;
	align-content: center;
}

/*Testimonios*/

#contenedorTestimonios{
	width: 100%;
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 100px 0px 100px 0px;
	width: 100%;
}

#contenedorCards{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	padding: 10px;
}

.tituloTestimonio{
	background-color: var(--color-nav);
	font-size: var(--text-subtitle);
	font-family: var(--font-title);
	color: var(--color-title);
	padding: 100px;
	text-align: center;
	border-bottom: 2px;
}

.cardTestimonios{
	display: flex;
	justify-content: center;
	padding: 20px;
	flex-direction: initial;
	height: 350px;
	width: 500px;
	margin: 10px;
}

.imgTestimonios{
	width: 300px;
	height: 300px;
	justify-content: center;
}


			/*MAIN SOBRE NOSOTROS*/

			/*informacion*/

#contenedorSN{
	background-color: var(--color-nav);
	height: 860px;
	padding: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
}

.imgSN{
	height: 300px;
	width: 500px;
}

.flexSN{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	flex-wrap: wrap;
	padding: 50px 10px;
}
	
div h4{
	text-align: center;
	font-size: var(--text-title);
	font-family: var(--font-title);
	color: var(--color-title);
	border-bottom-style: solid;
	border-bottom-width: 2px;
	padding: 10px 20px;
	margin-bottom: 30px;
}

.textSN{
	text-align: center;
	font-size: var(--text-mid);
	font-family: var(--font-principal);
	color: var(--color-title);
}

		/*MAPA*/
#contenedorMapa{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
	padding: 300px 50px;
	height: 100%;
	background-color: var(--color-gris);
}

section div h5{
	display: flex;
	text-align: center;
	font-size: var(--text-title);
	font-family: var(--font-title);
	color: var(--color-nav);
	border-bottom-style: solid;
	border-bottom-width: 2px;
	margin-bottom: 30px;
}









				/*FOOTER*/

#contenedorFooter{
	padding: 80px 10px 0px 10px;
	height: 50%;
	background-color: var(--color-gris);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	position: absolute;
	width: 100%;
}

#contenedorRedes{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 30px;
}

#contenedorUlFooter{
	display: flex;
	flex-direction: ;
	justify-content: center;
}

/*CLASES*/


.textRedes{
	font-size: var(--text-big);
	font-family: var(--font-principal);
	color: var(--color-white);
}

.asideFooter{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.asideImg{
	height: 60px;
	width: 95px;
}

/*BOX MODELING*/

footer{
	background-image: url(../img/footer.jpg);
	width: 100%;
	position: absolute;
	height: 100%;
}

footer div ul li{
	text-decoration: none;
	list-style-type: none;
}

footer div ul li a{
	text-decoration: none;
	font-size: var(--text-big);
	font-family: var(--font-principal);
	color: var(--color-white);
}

			/* BREACKPOINTS - MEDIA QUERIES */

	/*INDEX*/

@media screen and (max-width: 720px){

	.breackTitulo{
		font-size: var(--text-subtitle);
		text-align: center;
	}

	.breackSub{
		font-size: var(--text-big);
		text-align: center;
	}

	.breackContBotones{
		justify-content: center;
		align-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0px;
	}
}

		/*PAGINA COMPRAR*/

@media screen and (max-width: 720px){

	.breackCarrusel{
		height: 500px;
	}
}

		/*PAGINA SOBRE NOSOTROS*/

@media screen and (max-width: 720px){
	.breackImgSN{
		height: 150px;
		width: 300px;
	}
	.breackInframe{
		height: 300px;
		width: 400px;
	}
}

@media screen and (max-width: 1020px){
	.breackInframe{
		height: 300px;
		width: 400px;
	}
	iframe html body div div div div div{
		height: 300px;
		width: 400px;
	}
}
